@font-face {
    font-family: 'lovelo';
    src: url(../fonts/lovelo_black-webfont.eot);
    src: url(../fonts/lovelo_black-webfont.otf) format('opentype'), url(../fonts/lovelo_black-webfont.woff) format('woff'), url(../fonts/lovelo_black-webfont.ttf) format('truetype'), url(../fonts/lovelo_black-webfont.svg) format('svg');
    font-weight: normal;
    font-style: normal;
}
